/* ==========================================================================
   Tables
   ========================================================================== */


table {
  max-width: 100%;
  margin: 0 0 1.5em;
}

th, td {
  padding: .375em;
  text-align: left;
  font-size: em(14);
  line-height: 1.375;
}

th {
  font-weight: bold;
}

td {
  border-top: 1px solid $color-border;
}