{% extends "./includes/base.html" %}
{% block title %}About CLF HealthScore{% endblock %}
{% block content %}
    <div class="body">
        <h1 class="page-title">About CLF HealthScore</h1>
        <h2>Background</h2>
        <p>HealthScore is CLF's impact scorecard, originally designed for use with the <a href="https://www.clf.org/making-an-impact/healthy-neighborhoods-equity-fund/">Healthy Neighborhoods Equity Fund (HNEF)</a>. Launched in partnership with the Massachusetts Housing Investment Corporation (MHIC), HNEF invests in high-impact, transit-oriented real estate developments that have the potential to transform neighborhoods, strengthen community and environmental health, and promote regional equity. CLF uses HealthScore to understand the neighborhood context and screen potential HNEF investments to assess how well a development responds to the needs, strengths, and vision of the people who live there.</p>
        <h2>Our Approach</h2>
        <p>HealthScore incorporates findings from two Health Impact Assessments, published scientific research, and the lived experience of residents in communities where new development is taking place. The result is a comprehensive scorecard with more than 100 metrics designed to maximize benefits for people, communities, and the environment.</p>
        <h2>Uses</h2>
        <p>This web-based HealthScore web-based tool supports the overall HealthScore, which also incorporates a range of additional qualitative and quantitative metrics beyond the scope of this application. The HealthScore tool may also be used by CLF staff, independent of HNEF, to explore health, economic, transit, and demographic characteristics of a neighborhood, as well as how those characteristics compare to state benchmarks.</p>
    </div>
{% endblock %}